/*********************************************************
***************************MENU***************************
**********************************************************/

/*----------Posicionamientos----------*/
.col-featured-clothes-image, .col-featured-clothes-title, .message-secundary-header { 
  display: flex;
  align-items: center;
  justify-content: center;
}
#col-image-ofertas { 
  display: flex;
  align-items: right;
  justify-content: right;
}

/*::::::Titulos menu::::::*/
.img-vestidos, .img-calzado {
  width: 100px;
}
.img-bolsos {
  width: 80px;
}
.img-accesorios {
  width: 150px;
}
.img-camisetas {
  width: 180px;
}
.img-pantalones, .img-sudaderas, .img-abrigos {
  width: 220px;
}

/*:::::::::Menu::::::::::*/ 
.menu {
  position: fixed;
  width: 100% !important;
}
.secundary-header {
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(0, 0, 0);
}
.main-header { 
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(219, 219, 219, 0.548);
}
.css-wmhsuj-MuiBackdrop-root {
  top: 670px !important; /*Modificaciones en Backdrop*/
}

/*:::::::::MainHeader::::::::::*/
.row-ALL-menu {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.menu-item {
  font-size: 11px;
  border-bottom: 2px solid black;
  display: inline;
  margin-left: 40px;
  margin-right: 40px;
  padding: 5px;
}
.col-menu-medio{
  text-align: center;
}
.col-search-input { 
  padding-right: 5px !important;
  padding-top: 5px;
}
#search-input::placeholder {
  font-size: 11px !important;
  color: black !important;
}
#search-input {
  border: none !important;
  background-color: transparent !important;
  border-radius: 0% !important;
  border-bottom: 1px solid black !important;
  padding: 0px !important;
  font-size: 11px;
}
.col-busquedas {
  text-align: right;
  padding: 0px !important;
}
.col-search, .col-user {
  margin-left: 4px;
  margin-right: 4px;
}
.col-carrito {
  margin-left: 3px;
  margin-right: 10px;
}
.col-busquedas div {
  display: inline !important;
}
.col-logo {
  text-align: left;
  padding: 0px !important;
}
.col-logo div {
  margin-left: 10px;
}

/*:::::::::MenuClothes::::::::::*/
.alert-menu-clothes { 
  height: 565px;
  background-color: white !important;
  border: none !important; 
}
.swiper-button-next, .swiper-button-prev {
  display: none !important;
}
.swiper {
  width: 75% !important;
  text-align: center !important;
  margin-top: 25px !important;
}
.swiper-pagination {
  position: relative !important;
  margin-top: 28px !important;
}
.swiper-pagination-bullet {
  width: 5px !important;
  height: 5px !important;
  border-radius: 50% !important;
}
.swiper-pagination-bullet-active {
  background: black !important;
}
.col-enlaces {
  text-align: center;
}
.title-slider, .price-slider {
  font-size: 10px;
  color: black;
  padding: 0px !important;
}
.title-slider {
  text-align: left;
}
.price-slider {
  text-align: right;
}
.info-slider {
  margin-top: 4px !important;
  margin-left: 15px !important;
  margin-right: 14.5px !important;
  padding: 0px !important;
}
.grp {
  display:inline-block;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
}
.todos-div {
  margin-top: 50px;
}
.button-todo {
  border: 1px solid black;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 40% !important;
  margin-top: 35px;
}
.todos-content {
  font-size: 11px;
  color: black;
}
.todos-content div {
  margin-top: 4px;
  margin-bottom: 4px;
}
.div-titulo-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}
.img-slide {
  width: 300px;
}

/*:::::::::FeaturedItemClothes::::::::::*/
.container-featured-clothes-image {
  border: 1px solid black;
  height: 155px; 
  width: 160px;
}
.col-featured-clothes-image {
  padding-top: 15px;
  padding-bottom: 15px;
}
.col-featured-clothes-title { 
  padding-top: 5px;
  padding-bottom: 15px;
}

/*:::::::::PopCarrito::::::::::*/
#btn-canvas-carrito { 
  background-color: transparent !important;
  border: none !important;
  padding: 0px !important;
}

/*:::::::::SecundaryHeader::::::::::*/
.message-secundary-header { 
  font-size: 10px;
  color: rgb(255, 255, 255);
}

/*:::::::::PopUser::::::::::*/
#dropdown-menu-user {
  margin-top: 5px;
}
#dropdown-toggle-user {
  background-color: transparent !important;
  border: none !important;
  padding: 0px !important;
}
button#dropdown-toggle-user.dropdown-toggle.btn.btn-primary::after {
  display: none !important; /*Flecha desplegable del menu (icono usuario)*/
}

/***********************************************************
************************************************************
************************************************************/

.col-sale-products-button {
  padding: 70px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sale-products-button {
  width: 50%;
}
.desplegar-1480 {
  display: none !important;
}
.col-titulo-menu-ofertas {
  text-align: center;
}
.container-ofertas-expli {
  border: 1px solid black;
}
.items-izq {
  padding-left: 70px !important;
}
.items-der {
  padding-right: 70px !important;
}
.alert-menu-ofertas {
  height: 565px;
  background-color: white !important;
  border: none !important;
}
#image-ofertas {
  height: 530px;
}
#col-image-ofertas {
  padding-top: 20px;
  padding-right: 110px !important;
}
#col-featured-ofertas-image {
  display: flex;
  align-items: right;
  justify-content: right;
  padding-right: 5px;
}
.container-featured-ofertas-image {
  border: 1px solid black;
  height: 240px; 
  width: 260px;
}
.col-ofertas-expli {
  padding-left: 20px !important;
  padding-right: 80px !important;
  padding-top: 70px !important;
}
.desplegar-1570 {
  display: none !important;
}
#canvas-menu {
  border: none !important;
  background-color: aquamarine;
  margin-top: 104px !important;
  width: 100% !important;
  height: 41.7% !important;
  display: none !important;
}
.alert-menu-explora {
  height: 565px;
  background-color: white !important;
  border: none !important;
}
#image-explora {
  height: 540px;
}
#col-image-explora {
  padding-top: 9px;
  padding-left: 110px !important;
}
.ocultar-1700 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.desplegar-1700, .desplegar-1500 {
  display: none !important;
}
.row-RESPONSIVE-menu {
  display: none !important;
}
#btn-close-menu {
  display: none;
}
.offcanvas-body {
  padding: 0px !important;

}
.list-group {
  width: 100% !important;
  border-radius: 0% !important;
  border: none !important;
}
.list-item-vacios {
  padding-top: 20px !important;
}
#backdrop-menu-res {
  margin-top: 104px !important;
}
#row-search-res {
  display: none;
}
#cruz, #lupa {
  border: none !important;
  background-color: transparent;
}
#input-group-search {
  border: 1px solid rgb(214, 214, 214);
  margin-left: 20px;
  margin-right: 20px;
}
.res-input-search {
  border: none !important;
}
.res-input-search::placeholder {
  padding-left: 0px !important;
}
.button-close-carrito {
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgb(143, 143, 143) !important;
  font-size: 13px !important;
  border-radius: 0% !important;
  border: none !important;
}
#canvas-carrito {
  width: 500px !important;
  border: none !important;
}
.cabecera-canvas-carro {
  margin-left: 30px !important;
  margin-right: 30px !important;
  border-bottom: 1px solid rgb(211, 211, 211);
}
.canvas-titulo {
  text-align: left;
  padding-left: 5px !important;
  font-size: 22px;
  font-weight: bold;
}
.canvas-items {
  text-align: left;
  padding-left: 2px !important;
  font-size: 13.5px;
  color: rgb(177, 177, 177);
}
.canvas-cerrar {
  text-align: right;
  padding-right: 0px !important;
}
/*********************************************************
***************************LOGIN***************************
**********************************************************/
.create-account {
  padding-top: 50px;
}
/*----------Posicionamientos----------*/
.col-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-button-create-account {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-left: 25px;
}
#create-account-title {
  font-size: 14.5px !important;
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(29, 29, 29);
}
#signin-title {
  font-size: 23px !important;
  text-align: center;
  padding-left: 160px;
}

/*Login*/
.col-login {
  padding: 5px 0px 0px 160px !important;
}
.col-forgot-pss {
  text-align: right;
  padding: 8px 20px 0px 0px !important;
}
.col-forgot-pss a{
  cursor: pointer;
  text-decoration: none !important;
  font-size: 12px;
  color: rgb(136, 134, 134);
}
.col-forgot-pss a:hover {
  color: rgb(63, 63, 63) !important;
}
.col-login-button {
  padding: 60px 5px 10px 5px;
}
#create-account-button {
  width: 35%;
}
#login-button {
  width: 70%;
}

/*Create account*/
.row-message-1-create-account, .row-message-2-create-account {
  font-size: 12px;
  color: rgb(136, 134, 134);
}
.row-message-1-create-account {
  padding: 30px 25px 0px 25px;
}
.row-message-2-create-account {
  padding: 8px 25px 0px 25px;
}
.col-button-create-account {
  padding: 60px 5px 10px 5px;
}

/***********************************************************
************************************************************
************************************************************/

.container-breadcrumb {
  margin-top: 160px !important;
  font-size: 10px;
}
.container-specific-content {
  margin-top: 70px !important;
  margin-bottom: 130px;
}
.breadcrumb-active a {
  color: grey !important;
}
.breadcrumb-link a {
  text-decoration: none !important;
  color: grey;
}
.breadcrumb-link a:hover {
  color: rgb(46, 46, 46);
}


.container-panel {
  min-height: 100vh;
}

.footer-class {
  position: absolute !important;
  margin-bottom: 0px !important;
  width: 100%;
  min-height: 15vh;
  background-color: rgb(0, 0, 0);
}

/*Comun properties*/
.form-control::placeholder {
  font-size: 13px !important;
  color: rgb(175, 175, 175) !important;
}
.form-label {
  font-size: 13px !important;
  font-weight: bold;
  color: rgb(158, 156, 156);
}
.row-title {
  padding: 10px 10px 0px 10px;
}
.button-gestion {
  background-color: black !important;
  color: white !important;
  font-size: 13px !important;
  border-radius: 0% !important;
}
.button-gestion:hover {
  background-color: rgb(107, 107, 107) !important;
}
.delimiter-menu {
  background-color: aqua;
}

/*Pedidos*/
.img-pedidos {
  width: 200px;
  height: 180px;
}
.row-sm {
  display: none !important;
}
.row-envio-info {
  padding-top: 20px;
}
.col-info-icon {
  padding-right:  0px !important;
  display: flex;
  align-items: right;
  justify-content: right;
}
.row-info-individual {
  padding-top: 5px;
  font-size: 14px;
}
.texto-icon {
  display: none;
}
.col-row-sm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-row-sm button {
  width: 70%;
}
.col-estado-order {
  display: flex;
  align-items: right;
  justify-content: right;
  font-size: 15px;
  color: grey;
  padding-right: 20px !important;
}
#icon-circle-estado {
  width: 9px;
  padding-top: 3.35px;
  padding-right: 5px;
}
.col-number-order{
  font-size: 15px;
  color: grey;
}
.row-xsm-order {
  display: none !important;
}
.col-number-order span{
  font-weight: bold;
  color: black;
}
.col-number-order, .col-estado-order {
  padding-top: 11px;
  padding-bottom: 11px;
}
.col-information-item {
  border-left: 1px solid rgb(214, 214, 214);
}
.col-cancelar-pedido {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: right;
  justify-content: right;
}
.col-imagen-item {
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-pedido {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(239, 239, 239, 0.254);
}
.row-cabecera-pedidos {
  background-color: rgba(239, 239, 239, 0.407);
}
.col-order-inicial {
  padding: 5px 50px 0px 50px !important;
}
.row-item {
  padding: 20px 70px 20px 70px !important;
  border-bottom: 1px solid rgba(223, 223, 223, 0.746);
}
.row-name-product {
  padding: 17px 20px 0px 50px !important;
}
.row-description-product {
  font-size: 12px;
  padding: 10px 20px 0px 50px !important;
}
.row-stock-product {
  font-size: 15px;
  padding: 3px 20px 0px 50px !important;
}
.row-price-product {
  font-size: 20px;
  font-weight: bold;
  padding: 40px 20px 15px 50px !important;
}
.col-order {
  padding: 7px 6px 0px 30px !important;
  color: rgb(128, 128, 128);
}
.col-order, .col-order-value {
  font-size: 14px;
}
.row-estado-sm {
  display: none !important;
  font-size: 14px;
  padding-bottom: 15px;
  padding-left: 15px !important;
}
.icon-pedido {
  padding-top: 3px;
}
.row-show-lg {
  display: none !important;
}
.row-show-sm {
  display: none !important;
}
.row-items-total {
  border-left: 1px solid rgba(234, 234, 234, 0.683);
  border-right: 1px solid rgba(234, 234, 234, 0.683);
}

/*Register*/
.row-register {
  padding: 15px 5px 0px 5px;
}
.col-register-shipment {
  padding: 15px 0px 0px 0px;
}
.col-register-login {
  padding: 15px 80px 0px 80px !important;
}
.col-register-login .row {
  padding: 15px 3px 0px 3px;
}
.col-register-button-create,  .col-register-button-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-register-button-create {
  padding: 70px 0px 10px 0px;
}
#create-register-button {
  width: 30%;
}
.col-register-button-cancel button{
  font-weight: bold;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgb(143, 143, 143) !important;
  font-size: 13px !important;
  border-radius: 0% !important;
}

/*Reset password*/
.col-message-reset-pass, .col-button-reset-pass {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-message-reset-pass {
  padding: 15px 5px 15px 5px;
}
.col-button-reset-pass {
  padding: 50px 5px 10px 5px;
}
.row-email-reset-pass {
  padding: 20px 5px 10px 5px;
}
.col-message-reset-pass div{
  font-size: 12px;
  color: rgb(136, 134, 134);
  text-align: center;
  width: 75%;
}
#reset-pass-button {
  width: 60% !important;
}

/*Responsive*/
@media screen and (max-width: 1800px) {
  .items-izq {
  padding-left: 130px !important;
  }
  .items-der {
  padding-right: 130px !important;
  }
}
@media screen and (max-width: 1700px) {
  .desplegar-1700 {
  display: flex !important;
  align-items: center;
  justify-content: center;
  }
  .ocultar-1700 {
  display: none !important;
  }
  #col-image-ofertas {
  padding-right: 70px !important;
  }
}
@media screen and (max-width: 1650px) {
  .col-information-item {
  padding-right:  0px !important;
  }
  .row-name-product, .row-description-product, .row-stock-product, .row-price-product {
  padding-left: 25px !important;
  }
  .row-item {
  padding-right: 15px !important;
  padding-left: 15px !important;
  }
}
@media screen and (max-width: 1570px) {
  .desplegar-1570 {
  display: block !important;
  }
  .ocultar-1570 {
  display: none !important;
  }
  #col-image-ofertas {
  padding-right: 50px !important;
  }
}
@media screen and (max-width: 1560px) {
  .row-order-completo {
  padding-left: 0px !important;
  padding-right: 0px !important;
  }
  .container-featured-ofertas-image {
  height: 210px !important; 
  width: 230px !important;
  }
}
@media screen and (max-width: 1500px) {
  .clothes {
  padding-left: 20px !important;
  }
  .desplegar-1500 {
  display: block !important;
  }
  .ocultar-1500 {
  display: none !important;
  }
}
@media screen and (max-width: 1480px) {
  .desplegar-1480 {
  display: block !important;
  }
  .ocultar-1480 {
  display: none !important;
  }
}
@media screen and (max-width: 1401px) {
  .col-order {
  padding: 7px 5px 0px 15px !important;
  }
  .col-order-value {
  padding-left:  0px !important;
  }
  .items-izq {
  padding-left: 50px !important;
  }
  .items-der {
  padding-right: 50px !important;
  }
}
@media screen and (max-width: 1399px) {
  .col-imagen-item img{
  margin-right: -70px !important;
  }
  .oculto-espacio-menu {
  display: none !important;
  }
  .hidde-xl {
  display: none !important;
  }
  .clothes {
  padding-left: 5px !important;
  }
}
@media screen and (max-width: 1360px) {
  #col-image-explora {
  padding-left: 70px !important;
  }
}
@media screen and (max-width: 1265px) {
  .row-enlace-explora {
  padding-left: 60px !important;
  }
}
@media screen and (max-width: 1250px) {
  .hidde-space-menu {
  display: none !important;
  }
  .show-space-menu {
  display: block !important;
  }
}
@media screen and (max-width: 1200px) {
  .col-imagen-item img{
  margin-right: -35px !important;
  }
  .row-enlace-explora {
  padding-left: 80px !important;
  }
  #col-image-explora {
  padding-left: 50px !important;
  }
}
@media screen and (max-width: 1199px) {
  .col-login {
  padding: 5px 40px 0px 40px !important;
  }
  .row-show-lg {
  display: block !important;
  }
  .row-info-individual {
  display: none !important;
  }
  .lg-display-none {
  display: none !important;
  }
  .oculto-espacio-menu {
  display: block !important;
  }
  .hidde-xl {
  display: block !important;
  }
}
@media screen and (max-width: 1149px) {
  .alert-menu-clothes, .alert-menu-explora, .alert-menu-ofertas {
  display: none !important;
  }
  .css-wmhsuj-MuiBackdrop-root {
  opacity: 0 !important;
  }
  .row-ALL-menu {
  display: none !important;
  }
  .row-RESPONSIVE-menu {
  display: flex !important;
  }
  #canvas-menu {
  display: block !important;
  }
}
@media screen and (max-width: 1399px) {
  #create-register-button {
  width: 40%;
  }
} 
@media screen and (max-width: 1300px) {
  .col-register-login {
  padding: 15px 40px 0px 40px !important;
  }
}
@media screen and (max-width: 1199px) {
  .icon-pedido {
  display: none;
  }
  .row-envio-info {
  padding: 0px !important;
  }
  .row-info-individual {
  padding-top: 0px !important;
  font-size: 14px;
  }
  .texto-icon {
  display: inline;
  }
  .col-info-icon {
  padding: 7px 5px 0px 15px !important;
  display: flex;
  align-items: left;
  justify-content: left;
  color: rgb(128, 128, 128);
  }
  .col-info-icon-value {
  padding: 7px 5px 0px 15px !important;
  }
}  
@media screen and (max-width: 1094px) {
  .col-imagen-item img{
  margin-right: 0px !important;
  }
}
@media screen and (max-width: 1046px) {
  .col-message-reset-pass div{
  width: 85%;
  }
} 
@media screen and (max-width: 991px) {
  .col-register-shipment {
  padding: 0px 0px 0px 0px;
  }
  #create-register-button {
  width: 50%;
  }
  .col-register-login {
  padding: 15px 14px 0px 14px !important;
  }
  .row-order-completo {
  padding-left: 5px !important;
  padding-right: 5px !important;
  }
  .row-sm {
  padding-top: 60px;
  display: block !important;
  }
  .col-cancelar-pedido {
  display: none !important;
  }
  .col-imagen-item img{
  margin-right: -30px !important;
  }
}
@media screen and (max-width: 888px) {
  .img-pedidos {
  width: 170px;
  height: 150px;
  }
  .row-price-product {
  padding: 8px 10px 10px 20px !important;
  }
  .row-description-product {
  padding: 6px 10px 0px 20px !important;
  }
  .row-name-product {
  padding: 22px 10px 0px 20px !important;
  }
  .row-stock-product {
  padding: 3px 10px 0px 20px !important;
  }
}
@media screen and (max-width: 810px) {
  .col-imagen-item img{
  margin-right: -10px !important;
  }
}
@media screen and (max-width: 767px) {
  .col-information-item {
  border: none !important;
  }
  .row-email-reset-pass {
  padding: 20px 12px 10px 12px;
  }
  .col-label-register-md {
  padding: 15px 15px 0px 15px !important;
  }
  #create-register-button {
  width: 60%;
  } 
  .col-login {
  padding: 5px 20px 0px 20px !important;
  }
  .col-order-inicial {
  padding: 5px 20px 0px 20px !important;
  }
  .col-imagen-item {
  display: flex;
  align-items: center;
  justify-content: center;
  } 
  .img-pedidos {
  width: 160px;
  height: 140px;
  }
  .row-name-product {
  padding-top: 15px !important;
  }
  .row-name-product, .row-description-product, .row-stock-product, .row-price-product, .row-xsm-order {
  padding-left: 2px !important;
  padding-right: 2px !important;
  text-align: center;
  }
  .row-xsm-order {
  display: block !important;
  padding-top: 5px;
  }
  .price-separado-span {
  font-size: 11.5px;
  color: rgb(119, 119, 119);
  }
  .price-total-span {
  font-weight: bold;
  font-size: 19px;
  padding-left: 10px;
  }
  .row-name-product {
  font-size: 15px
  }
  .row-stock-product, .row-price-product {
  display: none !important;
  }
  .col-order {
  padding-bottom: 0px !important;
  }
  .col-order-value {
  padding-top: 0px !important;
  }
  .col-info-icon-value {
  padding-top: 0px !important;
  }
}
@media screen and (max-width: 700px) {
  #canvas-carrito {
    width: 100% !important;
  }
}
@media screen and (max-width: 620px) {
  .col-message-reset-pass div{
  width: 90%;
  }
}
@media screen and (max-width: 575px) {
  .col-estado-order {
  display: none !important;
  }
  .row-estado-sm {
  display: inline !important;
  padding-left: 25px !important;
  }
  .row-show-sm {
  display: block !important;
  padding-left: 10px;
  }
  .row-show-lg, .row-order {
  display: none !important;
  }
  .row-s-sm-t, .row-s-sm-v {
  font-size: 14px;
  }
  .row-s-sm-t {
  padding-top: 7px !important;
  color: rgb(128, 128, 128);
  }
}

.invalid_input {
  border: 2px solid red !important;
}
.show_error {
  padding-top: 3px;
  padding-left: 3px;
  display: block;
  color: red;
  font-size: 11px;
}
.hidde_error {
  display: none;
}