/***************************MENU***************************
**********************************************************/

/*--Menu--*/
.menu-row {
  position: fixed;
  width: 100% !important;
}
.sub-header-row {
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(0, 0, 0);
}
.header-row {
  color: rgb(0, 0, 0);
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: rgb(255, 255, 255);
  height: 70px;
  border-bottom: 1px solid rgba(219, 219, 219, 0.548);
}
.css-wmhsuj-MuiBackdrop-root {
  top: 670px !important; /*Modificaciones en Backdrop*/
}

/*--MainHeader--*/
.col-search-inp {
  padding-right: 5px !important;
}
.search-input {
  border: none !important;
  background-color: transparent !important;
  border-radius: 0% !important;
  border-bottom: 1px solid rgb(0, 0, 0) !important;
  width: 100% !important;
  padding: 0px !important;
}
.search-input::placeholder {
  font-size: 13px !important;
  color: rgb(0, 0, 0) !important;
}
.col-user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-carrito {
  padding-left: 2px !important;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.clothes {
  padding-left: 35px !important;
}
.ofertas {
  padding-left: 5px !important;
}
.show-1199 {
  display: none !important;
}
.menu-item-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-item-label-ex {
  display: flex;
  align-items: left;
  justify-content: left;
}
.menu-item-label-nov {
  display: flex;
  align-items: right;
  justify-content: right;
}
.menu-item-label, .menu-item-label-ex, .menu-item-label-nov {
  font-size: 15px;
  padding-top: 5px;
}

/*--MenuNovedades--*/
.alert-menu {
  height: 565px;
  background-color: white !important;
  border: none !important;
}
#imagen-sop {
  width: 520px;
}
#imagen-sophia {
  padding-left: 110px !important;
}
.menu-listado, .menu-lista-imagen {
  height: 50%;
}
.col-alineada {
  color: black;
}
.container-imagen-menu, .col-alineada{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-imagen-menu {
  padding-top: 15px;
  padding-bottom: 15px;
}
.imagen-menu {
  border: 1px solid black;
  height: 155px;
  width: 160px;
}
.container-titulo-menu {
  padding-top: 5px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-global-imagenes {
  height: 100% !important;
}

/*--PopCarrito--*/
.me-2 {
  background-color: transparent !important;
  border: none !important;
  padding: 0px !important;
}

/*--SecundaryHeader--*/
.mensaje-top {
  font-size: 10px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--PopUser--*/
#dropdown-menu {
  margin-top: 5px;
}
#dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
  padding: 0px !important;
  display: flex;
  align-items: right;
  justify-content: right;
}
button#dropdown-toggle.dropdown-toggle.btn.btn-primary::after {
  display: none !important; /*Flecha desplegable del menu (icono usuario)*/
}

/***********************************************************
************************************************************/


.container-panel {
  min-height: 100vh;
}

footer {
  position: absolute;
  margin-bottom: 0px !important;
  width: 100%;
  min-height: 15vh;
  background-color: rgb(0, 0, 0);
}
h4 {
  text-align: center;
}

/*Comun properties*/
.form-control::placeholder {
  font-size: 13px !important;
  color: rgb(175, 175, 175) !important;
}
.form-label {
  font-size: 13px !important;
  font-weight: bold;
  color: rgb(158, 156, 156);
}
.row-title {
  padding: 10px 10px 0px 10px;
}
.button-gestion {
  background-color: black !important;
  color: white !important;
  font-size: 13px !important;
  border-radius: 0% !important;
}
.button-gestion:hover {
  background-color: rgb(107, 107, 107) !important;
}

/*Containers*/
.container-login, .row-pedidos-content {
  margin-top: 200px !important;
  margin-bottom: 100px !important;
}

/*Pedidos*/
.img-pedidos {
  width: 200px;
  height: 180px;
}
.row-sm {
  display: none !important;
}
.row-envio-info {
  padding-top: 20px;
}
.col-info-icon {
  padding-right:  0px !important;
  display: flex;
  align-items: right;
  justify-content: right;
}
.row-info-individual {
  padding-top: 5px;
  font-size: 14px;
}
.texto-icon {
  display: none;
}
.col-row-sm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-row-sm button {
  width: 70%;
}
.col-estado-order {
  display: flex;
  align-items: right;
  justify-content: right;
  font-size: 15px;
  color: grey;
  padding-right: 20px !important;
}
#icon-circle-estado {
  width: 9px;
  padding-top: 3.35px;
  padding-right: 5px;
}
.col-number-order{
  font-size: 15px;
  color: grey;
}
.row-xsm-order {
  display: none !important;
}
.col-number-order span{
  font-weight: bold;
  color: black;
}
.col-number-order, .col-estado-order {
  padding-top: 11px;
  padding-bottom: 11px;
}
.col-information-item {
  border-left: 1px solid rgb(214, 214, 214);
}
.col-cancelar-pedido {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: right;
  justify-content: right;
}
.col-imagen-item {
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-pedido {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(239, 239, 239, 0.254);
}
.row-cabecera-pedidos {
  background-color: rgba(239, 239, 239, 0.407);
}
.col-order-inicial {
  padding: 5px 50px 0px 50px !important;
}
.row-item {
  padding: 20px 70px 20px 70px !important;
  border-bottom: 1px solid rgba(223, 223, 223, 0.746);
}
.row-name-product {
  padding: 17px 20px 0px 50px !important;
}
.row-description-product {
  font-size: 12px;
  padding: 10px 20px 0px 50px !important;
}
.row-stock-product {
  font-size: 15px;
  padding: 3px 20px 0px 50px !important;
}
.row-price-product {
  font-size: 20px;
  font-weight: bold;
  padding: 40px 20px 15px 50px !important;
}
.col-order {
  padding: 7px 6px 0px 30px !important;
  color: rgb(128, 128, 128);
}
.col-order, .col-order-value {
  font-size: 14px;
}
.row-estado-sm {
  display: none !important;
  font-size: 14px;
  padding-bottom: 15px;
  padding-left: 15px !important;
}
.icon-pedido {
  padding-top: 3px;
}
.row-show-lg {
  display: none !important;
}
.row-show-sm {
  display: none !important;
}
.row-items-total {
  border-left: 1px solid rgba(234, 234, 234, 0.683);
  border-right: 1px solid rgba(234, 234, 234, 0.683);
}

/*Login*/
.col-login {
  padding: 5px 80px 0px 80px !important;
}
.col-forgot-pss {
  text-align: right;
  padding: 8px 20px 0px 0px !important;
  font-size: 12px;
  color: rgb(136, 134, 134);
}
.col-forgot-pss a {
  cursor: pointer;
}
.col-forgot-pss a:hover {
  color: rgb(63, 63, 63) !important;
}
.col-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 5px 10px 5px;
}
#create-account-button {
  width: 40%;
}
#login-button {
  width: 70%;
}

/*Create account*/
.row-message-1-create-account, .row-message-2-create-account {
  font-size: 12px;
  color: rgb(136, 134, 134);
}
.row-message-1-create-account {
  padding: 30px 25px 0px 25px;
}
.row-message-2-create-account {
  padding: 8px 25px 0px 25px;
}
.col-button-create-account {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 5px 10px 5px;
}

/*Register*/
.row-register {
  padding: 15px 5px 0px 5px;
}
.col-register-shipment {
  padding: 15px 0px 0px 0px;
}
.col-register-login {
  padding: 15px 80px 0px 80px !important;
}
.col-register-login .row {
  padding: 15px 3px 0px 3px;
}
.col-register-button-create,  .col-register-button-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-register-button-create {
  padding: 70px 0px 10px 0px;
}
#create-register-button {
  width: 30%;
}
.col-register-button-cancel button{
  font-weight: bold;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0) !important;
  color: rgb(143, 143, 143) !important;
  font-size: 13px !important;
  border-radius: 0% !important;
}

/*Reset password*/
.col-message-reset-pass, .col-button-reset-pass {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-message-reset-pass {
  padding: 15px 5px 15px 5px;
}
.col-button-reset-pass {
  padding: 50px 5px 10px 5px;
}
.row-email-reset-pass {
  padding: 20px 5px 10px 5px;
}
.col-message-reset-pass div{
  font-size: 12px;
  color: rgb(136, 134, 134);
  text-align: center;
  width: 75%;
}
#reset-pass-button {
  width: 60% !important;
}

/*Responsive*/
@media screen and (max-width: 1650px) {
  .col-information-item {
    padding-right:  0px !important;
  }
  .row-name-product, .row-description-product, .row-stock-product, .row-price-product {
    padding-left: 25px !important;
  }
  .row-item {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
@media screen and (max-width: 1560px) {
  .row-order-completo {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #imagen-sophia {
    padding-left: 70px !important;
  }
}
@media screen and (max-width: 1500px) {
  .clothes {
    padding-left: 20px !important;
  }
}
@media screen and (max-width: 1401px) {
  .col-order {
    padding: 7px 5px 0px 15px !important;
  }
  .col-order-value {
    padding-left:  0px !important;
  }
}
@media screen and (max-width: 1399px) {
  .col-imagen-item img{
    margin-right: -70px !important;
  }
  .oculto-espacio-menu {
    display: none !important;
  }
  .hidde-xl {
    display: none !important;
  }
  .clothes {
    padding-left: 5px !important;
  }
}
@media screen and (max-width: 1360px) {
  #imagen-sophia {
    padding-left: 40px !important;
  }
}
@media screen and (max-width: 1265px) {
  #imagen-sophia {
    padding-left: 15px !important;
  }
}
@media screen and (max-width: 1250px) {
  .hidde-1199 {
    display: none !important;
  }
  .show-1199 {
    display: block !important;
  }
}
@media screen and (max-width: 1200px) {
  .col-imagen-item img{
    margin-right: -35px !important;
  }
}
@media screen and (max-width: 1199px) {
  .col-login {
    padding: 5px 40px 0px 40px !important;
  }
  .row-show-lg {
    display: block !important;
  }
  .row-info-individual {
    display: none !important;
  }
  .lg-display-none {
    display: none !important;
  }
  .oculto-espacio-menu {
    display: block !important;
  }
  .hidde-xl {
    display: block !important;
  }
}
@media screen and (max-width: 1165px) {
  #imagen-sophia {
    padding-left: 8px !important;
  }
}
@media screen and (max-width: 1149px) {
  .alert-menu {
    display: none !important;
  }
  .css-wmhsuj-MuiBackdrop-root {
    opacity: 0 !important;
  }
  .row-ALL-menu {
    display: none !important;
  }
}
@media screen and (max-width: 1399px) {
  #create-register-button {
    width: 40%;
  }
} 
@media screen and (max-width: 1300px) {
  .col-register-login {
    padding: 15px 40px 0px 40px !important;
  }
}
@media screen and (max-width: 1199px) {
  .icon-pedido {
    display: none;
  }
  .row-envio-info {
    padding: 0px !important;
  }
  .row-info-individual {
    padding-top: 0px !important;
    font-size: 14px;
  }
  .texto-icon {
    display: inline;
  }
  .col-info-icon {
    padding: 7px 5px 0px 15px !important;
    display: flex;
    align-items: left;
    justify-content: left;
    color: rgb(128, 128, 128);
  }
  .col-info-icon-value {
    padding: 7px 5px 0px 15px !important;
  }
}  
@media screen and (max-width: 1094px) {
  .col-imagen-item img{
    margin-right: 0px !important;
  }
}
@media screen and (max-width: 1046px) {
  .col-message-reset-pass div{
    width: 85%;
  }
} 
@media screen and (max-width: 991px) {
  .col-register-shipment {
    padding: 0px 0px 0px 0px;
  }
  #create-register-button {
    width: 50%;
  }
  .col-register-login {
    padding: 15px 14px 0px 14px !important;
  }
  .row-order-completo {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .row-sm {
    padding-top: 60px;
    display: block !important;
  }
  .col-cancelar-pedido {
    display: none !important;
  }
  .col-imagen-item img{
    margin-right: -30px !important;
  }
}
@media screen and (max-width: 888px) {
  .img-pedidos {
    width: 170px;
    height: 150px;
  }
  .row-price-product {
    padding: 8px 10px 10px 20px !important;
  }
  .row-description-product {
    padding: 6px 10px 0px 20px !important;
  }
  .row-name-product {
    padding: 22px 10px 0px 20px !important;
  }
  .row-stock-product {
    padding: 3px 10px 0px 20px !important;
  }
}
@media screen and (max-width: 810px) {
  .col-imagen-item img{
    margin-right: -10px !important;
  }
}
@media screen and (max-width: 767px) {
  .col-information-item {
    border: none !important;
  }
  .row-email-reset-pass {
    padding: 20px 12px 10px 12px;
  }
  .col-label-register-md {
    padding: 15px 15px 0px 15px !important;
  }
  #create-register-button {
    width: 60%;
  } 
  .col-login {
    padding: 5px 20px 0px 20px !important;
  }
  .col-order-inicial {
    padding: 5px 20px 0px 20px !important;
  }
  .col-imagen-item {
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .img-pedidos {
    width: 160px;
    height: 140px;
  }
  .row-name-product {
    padding-top: 15px !important;
  }
  .row-name-product, .row-description-product, .row-stock-product, .row-price-product, .row-xsm-order {
    padding-left: 2px !important;
    padding-right: 2px !important;
    text-align: center;
  }
  .row-xsm-order {
    display: block !important;
    padding-top: 5px;
  }
  .price-separado-span {
    font-size: 11.5px;
    color: rgb(119, 119, 119);
  }
  .price-total-span {
    font-weight: bold;
    font-size: 19px;
    padding-left: 10px;
  }
  .row-name-product {
    font-size: 15px
  }
  .row-stock-product, .row-price-product {
    display: none !important;
  }
  .col-order {
    padding-bottom: 0px !important;
  }
  .col-order-value {
    padding-top: 0px !important;
  }
  .col-info-icon-value {
    padding-top: 0px !important;
  }
}
@media screen and (max-width: 620px) {
  .col-message-reset-pass div{
    width: 90%;
  }
}
@media screen and (max-width: 575px) {
  .col-estado-order {
    display: none !important;
  }
  .row-estado-sm {
    display: inline !important;
    padding-left: 25px !important;
  }
  .row-show-sm {
    display: block !important;
    padding-left: 10px;
  }
  .row-show-lg, .row-order {
    display: none !important;
  }
  .row-s-sm-t, .row-s-sm-v {
    font-size: 14px;
  }
  .row-s-sm-t {
    padding-top: 7px !important;
    color: rgb(128, 128, 128);
  }
}

.invalid_input {
  border: 2px solid red !important;
}
.show_error {
  padding-top: 3px;
  padding-left: 3px;
  display: block;
  color: red;
  font-size: 11px;
}
.hidde_error {
  display: none;
}